.header a {
    display: flex;
    align-items: center;
    color: rgba(10, 1, 1, 0.664);
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 31px;
}

.header .logo {
    max-height: 96px;
}

.header .title-group {
    padding-left: 25px;

}

.header .title-group i {
    padding-right: 5px;
    
}